{% if is_following %}
    <form method="post">
        {% csrf_token %}
{#        <a type="submit" class="button" id="follow" role="button" href="{% url 'follow' user_obj.username %}">Follow</a>#}
        <button type="submit" class="button is-primary">Follow</button>
    </form>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="button is-primary">Unfollow</button>
{#        <a type="submit" class="button" id="follow" role="button" href="{% url 'unfollow' user_obj.username %}">Unfollow</a>#}
    </form>
{% endif %}

{#<a type="submit" class="button" id="follow" role="button" href="{% url 'unfollow' user_obj.username %}">Unfollow</a>#}