<!-- Start Logo-->
<nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item navbar-brand" href="{% url 'home'%}"> iSnap</a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- Middle menu -->
  <div id="navbar" class="navbar-menu">
    <div class="navbar-start"></div>
    
    {% if request.user.is_authenticated %}
    <div class="navbar">
      <form action="#" class="navbar-item" >
          <div class="control has-icons-left has-icons-right">
    <input class="input is-small is-dark" type="search" name="search" placeholder="Search">
    <span class="icon is-small is-left">
      <i class="fa fa-search"></i>
    </span>
  </div>
      </form>
    </div>
    {% endif %}
    <div class="navbar">
    </div>

    <!-- End Icons -->
    <div class="navbar-end">
      
      {% if request.user.is_authenticated %}
      <div class="navbar-item">
        <a class="navbar-item" href="{%url 'post_create'%}"> <i class="fa fa-clipboard"></i> </a>
      </div>
          <div class="navbar-item">
        <a class="navbar-item" href="{%url 'profile' request.user.id %}"> <i class="fa fa-user"></i> </a>
      </div>
          <div class="navbar-item">
        <a class="navbar-item" href="{%url 'logout'%}"> <i class="fa fa-sign-out"></i> </a>
      </div>
      {% else %}
      <div class="navbar-item">
        <a class="navbar-item" href="{% url 'login' %}" style="color:black"><i class="fa fa-sign-in"></i></a>
      </div>
      {% endif %}

        
    </div>
  </div>
</nav>