{% extends 'base.html' %}
{% block main %}
{% include '_partials/nav.html'%}

<!--START INTRO-->
<section class="hero forms" id="login">
    <div class="wrapper">
        <legend class="legend">Login</legend>
        {% comment %}
        <form method="POST">
            {{form.as_p}}
            <input type="submit" value="Login">
        </form>
        {% endcomment %}
        <form method="post">
            {% csrf_token %}
            <div class="form-control">
                <label class="form-label" for="email">Email</label>
                <input class="form-input" type="email" placeholder="johndoe@mails.com" name="email" id="email" />
            </div>
            <div class="form-control">
                <label class="form-label" for="password">Password</label>
                <input class="form-input" type="password" placeholder="********" name="password" id="password" />
            </div>

            <button class="btn submitBtn mx-auto">Login</button>

        </form>

        <small>
            Don't have account? <a href="{% url 'signup' %}">Join the Move</a>
        </small>
    </div>
</section>

{% endblock main%}