/* :root {
  --primary: 4a4a4a;
  --gradient: grey;
  --darker:#000;
  --dark: #4a4a4a;
  --light: whitesmoke;
  --white: #fff;
  --yellow: yellow;
  --font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav-sidebar {
  background: var(--primary);
}
#toggle-nav-sidebar {
  background: var(--darker);
}
#toggle-nav-sidebar {
  color: var(--white) !important;
}
a:link, a:visited {
  color:var(--light);
}
tr:nth-child(odd){
  background: var(--primary) !important;
}
tr:nth-child(even){
  background: var(--gradient) !important;
}

#header {
  height: 3.25em;
  background: var(--darker);
  color: var(--white);
}
#header a:link,
#header a:visited {
  color: var(--light);
  font-weight:400;
}
#branding h1 {
  color: var(--white);
}

h1 {
  color: #000;
}
.module h2,
.module caption,
.inline-group h2 {
  background: var(--primary);
  height: 40px;
}
div.breadcrumbs {
  background: var(--primary);
  color:var(--primary);
}
div.breadcumbs a{
color:var(--primary);
}
a.section:link {
  font-weight:400;
}
a:link {
  font-weight:400;
}



#toolbar {
  position:relative;
}

#changelist-search img {
  vertical-align: middle;
  margin-right: 4px;
  position: absolute !important;
  left: 1em;
  bottom: 1.5em;
}
#toolbar #searchbar {
  font-size: 16px !important;
  border: none !important;
  border-radius:0 !important;
  border-bottom: 1.5px solid var(--primary) !important;
  padding: 12px 16px !important;
  height: 36px !important;
  background: transparent !important;
  color: rgba(0, 0, 0, 0.8) !important;
  box-shadow: none!important;

}
#toolbar #searchbar:focus {
  font-size: 16px !important;
  border: none !important;
  border-radius:0 !important;
  border-bottom: 1.5px solid var(--gradient) !important;
  padding: 12px 16px !important;
  height: 36px !important;
  background: transparent !important;
  color: rgba(0, 0, 0, 0.8) !important;
  box-shadow: none!important;
}

#toolbar form input[type="submit"] {
  border: none !important;
  background: var(--primary) !important;
  padding: 12px 16px !important;
  cursor: pointer !important;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px !important;
  font-weight: 400;
  box-shadow: 0 10px 20px -6px rgb(0 0 0 / 12%) !important;
  margin-left: 1em !important;
}

.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
  background: var(--primary);
  color: var(--white);
  border-radius: 4px;
}
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="button"]:hover,
.submit-row input:hover,
a.button:hover {
  background: var(--gradient);
  color: var(--dark);
}
.button.default,
input[type="submit"].default,
.submit-row input.default {
  background: var(--primary);
  color: var(--white);
  border-radius: 4px;
}
.button.default:hover,
input[type="submit"].default:hover,
.submit-row input.default:hover {
  background: var(--gradient);
  color: var(--dark);
}
*/
