/* Defines global styles for the project's consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: 4a4a4a;
  --darker:#000;
  --dark: #4a4a4a;
  --light: whitesmoke;
  --white: #fff;
  --light-gray: #b8bdc9;
  --font-family: "Open Sans", sans-serif;
}

body {
  height: max-content;
  position: relative;
  background: var(--light);
  font-family: var(--font-family);
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
a.icon {
  text-decoration: none;
  color: var(--primary) !important;
}
/* edge */
.edge {
  position: fixed;
  bottom: 50%;
  left: 0;

  display:flex;
  align-items:center;
  justify-content:center;

  background: var(--dark);
  border-top-right-radius:3em ;
  border-bottom-right-radius:3em ;
  font-size: 1.1em;
  z-index: 1000;
  height:3em;
  width:3em;
}
/* end edge */

/* main section */
section.main {
  min-height: calc(100vh - 3.25rem);
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}
section.main .container {
  display: flex;
}
.hero{
  height: calc(100vh - 3.25em);
}
