* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 2px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 5px;
}

.column .mini-detail {
  display: none;
}

a.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-overlay {
  /* background:rgba(255,255,255,0.05); */
  background: linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.8));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;

  transition: all .5s;
  bottom: 0;
  width: 100%;
  position: absolute;
  display: none;
}

a.wrapper:hover .card-overlay {
  display: block;
  transform: translateY(0px);
}

.card-overlay .items-head {
  padding: 1em;
  transition-delay: 0.4s;
}

.card-overlay .items-footer ul {
  display: flex;
}



.card-overlay .items-footer ul li {
  padding: 1em;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .row .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row .column {
    flex: 100%;
    max-width: 100%;
  }
}