/* #start{
  margin-bottom: 5em !important;
} */
.grid a {
  float: left;
  max-width: 25%;
  padding: 4px;
  height: max-content;
}
.grid a img {
  border-radius: 5px;
}


/* STYLE HOVER TEXT */
.grid a .mini-detail {
  /* position: absolute; */
  z-index: 3;
  width: 100%;
  height: 100%;
  transition: 0.7s;
}

.grid a .mini-detail:hover {
  opacity: 1;
}

.mini-detail .mini-body {
  display: none;
  position: absolute;
  bottom: 0;
}

@media  (max-width:576px) {
  .grid a {
    float: left;
    max-width: 50%;
    padding: 2px;
  }
  .grid a img {
    width: 100%;
    height: auto;
    /* border-radius: 5px; */
  }
  
}