{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title> Snapy -{{title}}</title>
  {% else %}
  <title>Snap</title>
  {% endif%}

  {% comment %} fontawesome icons {% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% comment %} css {% endcomment %}
  <!-- local css -->
  <link rel="stylesheet" href="{% static 'post/css/style.css'%}">


</head>

<body>

  <!-- Navigation -->
  <nav>
    <div class="container">
      <a href="{% url 'post'%}" class="nav-brand"> iSnap </a>
      <button class="menu"><i class="fa fa-bars"></i></button>
      <form action="#" method="post">
        <input type="search" name="search" placeholder="  Search" style="background:rgba(221, 221, 221, 0.76);" id="">
      </form>
      <div class="navbar-nav">
        <ul class="nav_list">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'create'%}" class="nav-link">New</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'profile'%}" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout'%}" class="nav-link">Exit</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a href="{% url 'register'%}" class="nav-link">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'login'%}" class="nav-link">Sign In</a>
          </li>

          {% endif %}
        </ul>
      </div>
    </div>
  </nav>



  <!-- main blog section -->
  <!-- Page Content -->
 
    <!-- alert messages -->
    {% if messages %}
    {% for message in messages%}
    <div class='alert alert-{{message.tags}}'>
      {{message}}
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock content %}



  <footer>
    <div class="text-center p-3">
      <p>&copy; <a href="#" class="link">Owidi</a> Kevin @
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
      </p>
    </div>
    </div>

  </footer>

  <script src="{% static 'post/js/script.js' %}"></script>

</body>

</html>