{% extends 'post/base.html' %}
{% load static %}
{% block content %}

<div class="main">
  <!-- main posts -->
  <div class="major">
    {% for post in posts %}
    <!-- Blog Post -->
    <div class="post">
      <div class="header row">
        <!--title -->
        <div class="post-title">
         <a href="{% url 'detail' post.id %}"> <h1 class="title">{{ post.title }}</h1></a>
        </div>
        <!-- image and profile info -->
        <div class="row right">
          <div class="col">
            <a href="{% url 'user-posts' post.user.username%}"
              style="text-transform: capitalize; color: #3a3939;"><b>By: {{ post.user}}</b></a>
            <br>
            <small disabled>
              <b>On :{{post.date_posted}}</b>
            </small>
          </div>
          <div class="col">
            <a href="{% url 'user-posts' post.user.username%}"><img src="{{post.user.profile.image.url}}"
                class="circle img-fluid" alt="Photo of {{ post.user}}"
                style="border-radius: 50%;height: 50px;width: 50px;" /></a>
          </div>
        </div>
      </div>
      <!-- image -->
      <img class="post-image" src="{{post.upload.url}}" alt="Post image loading...">
      <!-- body -->
      <div class="body">
        <!-- subtitle and title -->
        <a href="{% url 'detail' post.id %}"><h4 style="font-family: 'Segoe UI'; font-size: 18px; color: #3a3939;">{{ post.subtitle}}</h4></a>

        <p>{{ post.caption }}</p>
      </div>
      <hr>
      <!-- footer -->
      <div class="footer row">
        <div class="col">
          <a href="{% url 'detail' pk=post.pk %}"><i class="fa fa-telegram"></i> {{ post.approved_comments.count }}</a>
        </div>
        <div class="col">
          <small>
            <a href="#"><i class="fa fa-chevron-up" title="up-vote"></i></a>
          </small>
        </div>
      </div>

    </div> <br> <br>
    {% endfor %}
  </div>

  <!-- side content -->
  <div class="post preview">
    <h1>Most upvoted snaps</h1>
    {% for post in posts %}
    <!-- Blog Post -->
    <div class="wrap">
      <a href="{% url 'detail' post.id %}">
        <img class="img-top img-fluid" src="{{post.upload.url}}" alt="Post image loading...">
      </a>
    </div><br>
    {% endfor %}
  </div>
</div>

{% endblock content %}