{% extends 'post/base.html' %}
{% load static %}
{% block content %}

<!-- Post Content Column -->

<div class="card">
  <div class="post">
    <div class="card-header d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center justify-content-between">
    
     
      </div>
      <div class="d-flex align-items-center">
        <div>
          <a href="{% url 'user-posts' post.user.username%}"><img src="{{post.user.profile.image.url}}"
            class="circle img-fluid" alt="Photo of {{ post.user}}"
            style="border-radius: 50%;height: 3rem;width: 3rem" /></a>
        </div>
           <div>
             <!-- Author -->
        <a href="{% url 'user-posts' post.user.username%}">{{ object.user}}</a>
           </div>
      </div>
    </div>
    <hr>
  
    <!-- Date/Time -->
    <p>Posted on {{object.date_posted}}</p>
  
    <hr>
  
    <!-- Preview Image -->
    {% comment %} <img class="img-fluid rounded" src="{{ object.upload.url }}" alt=""> {% endcomment %}
    {% if post.upload %}
    <img class="img-fluid rounded" src="{{ post.upload.url }}" alt="">
    {% endif %}
  
    <hr>
  
  
    <p>{{ object.caption }}</p>
  
    <hr>

    <hr>

    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <a href="#">{{ post.approved_comments.count }} <i class="fa fa-heart"></i></a>
      </div>
      <div class="d-flex align-items-center">
        <div class="d-flex justify-content-between">
          <div class="share d-flex">
            <i class="fa fa-comments"></i>
          </div>
          <div class="repost d-flex">
            <i class="fa fa-share-square"></i>
          </div>
          <div class="like d-flex">
            <i class="fa fa-retweet"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Comments Form -->
    <div class="my-4">
      <div class="body">
        <form>
          <div class="form-group">
            <textarea class="form-control" rows="2"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-primary form-control">Post</button>
        </form>
      </div>
    </div>
  
    <div class="card-footer">
      <!-- Single Comment -->
      {% if not post.comments.all %}
      No comments yet...Be the first to comment.
      {% else %}

      {% for comment in post.comments.all%}
     
    </div>
  
    <div class="media mb-4">
      <img class="d-flex mr-3 rounded-circle" src="{{object.profile.image}}" alt="">
      <div class="media-body">
        <h5 class="mt-0">{{comment.name}}</h5> <small>{{comment.date_added}}</small>
        {{comment.body}}
      </div>
    </div>
    {% endfor %}
    {% endif %}
  
  
  
  </div>
</div>



{% endblock content %}