{% extends 'post/base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block content %}
<div class="create">
  <h5 class="card-title text-center">Create a Post</h5>
  <form class="form-signin" action="#" method="post">
    {% csrf_token %}
    <fieldset class="form-group">

      <div class="form-group">
        <label for="Post title">Title</label>
        {{form.title}}

      </div>
      <div class="form-group">
        <label for="Post Subtitle">Subtitle</label>
        {{form.subtitle}}

      </div>
      <div class="form-group">
        <label for="Post file or photo">Attach a photo</label>
        {{form.upload}}
      </div>
      <div class="form-group">
        <label for="text caption">Type here</label>
        {{form.caption}}
      </div>
      <hr class="my-4" />

      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
        Post
      </button>

    </fieldset>

  </form>
</div>
{% endblock content %}