{% extends 'post/base.html' %}
{% load static %}
{% block content %}

{% for post in posts %}
<!-- <br> -->
  <div class="card" style="border: none;border-radius: none;">
    <div class="card-header">
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <a href="{% url 'user-posts' post.user.username%}"><img src="{{post.user.profile.image.url}}"
              class="circle img-fluid mr-2" alt="Photo of {{ post.user}}"
              style="border-radius: 50%;height: 2rem;width: 2rem" /></a>  <a href="{% url 'user-posts' post.user.username%}"
              style="text-transform: capitalize; color: #3a3939; font-size:1.5rem;"><b>{{ post.user}}</b></a>
          </div>
          <div class="d-flex align-items-center">
            <a href="{% url 'detail' pk=post.pk %}" target="_blank" rel="noopener noreferrer"><i class="fa fa-readme"></i></a>
          </div>
        </div>
     
    </div>
    <div class="card-body">
      {% if post.upload %}
      <img class="card-img img-fluid" src="{{post.upload.url}}" alt="">
      {% else %}
      <div class="container">
        {{ post.caption }}
      </div>
      {% endif %}
    </div>
    <div class="card-footer">
      <div class="row caption">
        something
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <a href="#">{{ post.approved_comments.count }} <i class="fa fa-heart"></i></a>
        </div>
        <div class="d-flex align-items-center">
          <div class="d-flex justify-content-between">
            <div class="share d-flex">
              <i class="fa fa-comments"></i>
            </div>
            <div class="repost d-flex">
              <i class="fa fa-share-square"></i>
            </div>
            <div class="like d-flex">
              <i class="fa fa-retweet"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <br> -->
  <hr>
  <!-- <br> -->
{% endfor %}

{% endblock content %}