{% extends 'post/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>{{ object.title }}</h2>
            <h5>Posted by {{ object.user}} <span class="text-muted">on, {{object.date_posted}}</span></h5>
            <div class="fakeimg" style="height:200px;">image</div>
            <p>{{ object.subtitle}}</p>
            <p>{{ object.caption }}.</p>
            {% if object.user == user %}
                <a href="{% url 'update' object.id%}" class="btn btn-outline-info mt-1 mb-1">Update</a>
                <a href="{% url 'delete' object.id%}" class="btn btn-outline-danger mt-1 mb-1">Delete</a>
            {% endif %}
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div>
        </div>
        <div class="card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
        </div>
    </div>
</div>


{% endblock content %}
