{% extends 'post/base.html' %}
{% load static %}
{% block content %}

<div class="detail">

<div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center justify-content-between">
      <!-- Title -->
      <h3 class="mt-4">{{ view.kwargs.username }}'s ({{ page_obj.paginator.count }}) posts</h3>
      <hr>
     
      </div>
      <div class="d-flex align-items-center">
          <a href="{% url 'user-posts' view.kwargs.username %}"><img src="{{user.profile.image.url}}"
            class="circle img-fluid" alt="Photo of {{ post.user}}"
            style="border-radius: 50%;height: 3rem;width: 3rem" /></a>
      </div>
    </div>

  <hr>

  {% for post in posts %}
         <!-- Blog Post -->
  <div class="post">
    <img class="img-top img-fluid" src="{{post.upload.url}}" alt="Post image loading...">

    <div class="card-footer d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <a href="#">100{{ post.approved_comments.count }} <i class="fa fa-chevron-up" title="up-vote"></i></a>
      </div>
      <div class="dflex align-items-center">
        <small>{{post.date_posted }}</small>
      </div>
      <div class="d-flex align-items-center">
        <div class="d-flex justify-content-between">
          <div class="share d-flex">
            <i class="fas fa-telegram">T</i>
          </div>
          <div class="repost d-flex">
            <i class="fa fa-share">S</i>
          </div>
          <div class="like d-flex">
            <i class="fa fa-heart">H</i>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <br>
  {% endfor %}
  
  <!-- Pagination -->
   {% if is_paginated %}
  
        {% if page_obj.has_previous %}
          <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
  
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}
  
        {% if page_obj.has_next %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
  
      {% endif %}
</div>
{% endblock content %}
