{% extends 'post/base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block content %}
<div class="detail">
    <div class="row post">
      <div class="col">
          <h3>
              <span>{{user.username}}'s profile</span>
          </h3>
          <br>
      </div>
      <div class="col">
          <img class="img-responsive" src="{{user.profile.image.url}}"
              style="width: 50px;height: 50px; border-radius: 50%;" alt="">
      </div>
    </div>
    <hr>
    <span>({{ page_obj.paginator.count }}) posts</span>
    <!-- Blog Post -->
    <div class="post">
        {% for post in posts %}
        <div class="post-summary">
            <img class="img-responsive" src="{{post.upload.url}}" alt="Post image loading...">
        </div>
        {% endfor %}
    </div>
    
    <!-- Pagination -->
     {% if is_paginated %}
    
          {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}
    
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}
    
          {% if page_obj.has_next %}
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}
    
        {% endif %}
  </div>

    {% endblock content %}