{% extends 'post/base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block content %}
<div class="container">
    <div class="row" style="padding: 2rem 0 2rem 0;">
        <div class="col">
            <span>{{user.username}}</span>
            <br>
            <span>{{user.email}}</span>
        </div>
        <div class="col">
            <img class="img-responsive" src="{{user.profile.image.url}}"
                style="width: 50px;height: 50px; border-radius: 50%;" alt="">
        </div>
    </div>

    <hr>


    <h1 class="mb-3">Posts by {{ view.kwargs.username }} <b>|</b> ({{ page_obj.paginator.count }}) Posts</h1>
    {% for post in posts %}
    <!-- Posts preview -->
    <div class="preview">
        <img class="img-responsive" src="{{post.upload.url}}" alt="Post image loading...">
    </div>
    {% endfor %}

    {% endblock content %}