{% extends 'post/base.html' %}
{% load static %} 
{% load crispy_forms_tags%} 
{%block content %}

<div class="m-5">
    <div class="card pt-5 align-items-center">
        <h3><span><b>iSnap</b></span> Register</h3>
        <hr>
        <form class="form-style-9" action="#" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="form-group justify-content-between align-items-center">
                <label for="username">Username:</label>
                {{form.username}}
            </div>
            <div class="form-group justify-content-between align-items-center">
                <label for="username">Email:</label>
                {{form.email}}
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                {{form.password1}}
            </div>
            <div class="form-group">
                <label for="password1">Password Cornfirmation:</label>
                {{form.password2}}
            </div>
            <hr>
            <button type="submit" class="btn btn-outline-primary form-control">Register</button>
        </form>
    </div>
</div>
{% endblock content %}