{% extends 'post/base.html' %} {% load static %} 
{% load crispy_forms_tags%} 
{%block content %}
<div id="auth">
  <div class="wrapper">
    <form action="#" method="post">
        {% csrf_token %}
      <h3>Sign Up</h3>
      <div class="form-group">
          <label for="name">Username</label>
          <br>
          {{form.username}}
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <br>
          {{form.email}}
      </div>
      <div class="form-group">
          <label for="Password">Password</label>
          <br>
          {{form.password1}}
      </div>
      <div class="form-group">
          <label for="Password1">Password cornfirmation</label>
          <br>
          {{form.password2}}
      </div>
      <br>
  
      <div class="form-group">
          <input type="checkbox" name="remember" id="remember">
          <label for="check">Keep me signed</label>
      </div>
      <button class="form-control">submit</button>
  </form>
  </div>
</div>
{% endblock content %}
