* {
    box-sizing: border-box;
  }
  /* forms */
  .form_action_btns{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 2rem;
    grid-row-gap:1rem ;
  }
  .form_group button{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 2rem;
    grid-row-gap:1rem ;
  }
  /* Add a gray background color */
  body{
    font-family: Arial;
    background: #f1f1f1;
  }
  /* main */
  main{
    height: 100%;
  }
  
  /* Header/Blog Title */
  header.jumbotron-fluid {
    min-height: 15vh;
    display: block;
    align-content: center;
    background: white;
  }
  header.jumbotron-fluid  img{
    width: 3rem;
  }
  header.jumbotron-fluid h2 a{
    color: rgb(43, 7, 43) !important ;
  }
  
  /* main content page */
  main{
    padding: 0px 20px 0px 20px;
  }
  
  
  /* Contains the main post and side content*/
  /* Left  */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  /* upload image */
  .upload img{
    max-height: 300px;
    width:100%
  }
  
  
  /* dummy side images */
  .dummy {
    /* background-color: #aaa; */
    width: 100%;
    padding: 20px;
  }
  .dummy img{
    width: 100%;
    max-height: 200px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    header.jumbotron-fluid  img{
      width: 2rem;
    }
    header.jumbotron-fluid {
      padding: 18px;
    }
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
  