{% load static %}
/* 
#globals 
*/

:root{
  --main-color:#00154f;
  --gradient-color:#0d569b;
  --primary:#03396b;
  --major-grey:#444444;
  --major-white:#ffffff;
  --major-black:#000000;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--major-grey);

}
main#main{
  min-height: 100vh;
}

a {
  color: var(--gradient-color);
}

a:hover {
  color: var(--gradient-color);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}
.fa{
  font-size: 1.8rem;
  margin-right: 0.5em;
  color: var(--main-color);
}

  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    background: var(--main-color);
    color: var(--major-white);
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s;
  }
  
  #topbar.topbar-scrolled {
    top: -40px;
  }
  
  #topbar i {
    padding-right: 6px;
  }


  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    background: var(--major-white);
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    top: 40px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 992px) {
    #header {
      padding: 15px 0;
    }
  }
  
  #header.header-scrolled {
    top: 0;
  }
  
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */
  }

  @media (max-width: 576px) {
    #header .container {
      padding-right: 0px;
      padding-left: 15px;
    }
  }
  #header h1 .logo a.nav-brand {
    /* color: #555555; */
    color: var(--main-color);
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      top: 0;
    }
    #header .logo {
      font-size: 28px;
    }
  }

  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul {
    display: flex;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    /* color: #555555; */
    transition: 0.3s;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: var(--main-color);
  }
  
  /* end button */
  .end-btn {
    margin-left: 25px;
    background: var(--main-color);
    color: var(--major-white) !important;
    border-radius: 4px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  }
  
  @media (max-width:576px){
    .end-btn {
      margin-left: none;
      border-radius: 2px;
      padding: 8px 0px;
      font-size: 12px;
    }
    
  }
  .end-btn:hover {
    background: var(--gradient-color);
    color: var(--major-white);
  }
  
  @media (max-width: 768px) {
    .end-btn {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }
  /* end of navigation/header */

  
  /*--------------------------------------------------------------
  # global sections
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--main-color);
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
/* end of global sections */

  /*--------------------------------------------------------------
  # body card design
  --------------------------------------------------------------*/
.card{
    border-radius: none !important;
    border: none !important;
  }
  section div.card-header,section div.card div.card-footer{
    color: var(--major-black) !important;
  }
  section div.card-body img{
    border-radius: none !important;
    border: none !important;
  }


  /* auth forms stylin */
#auth-forms{
    background:var(--main-color);
    color: var(--major-white);
    text-align: center;
    margin: 7.5% auto;
    max-width: 1280px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: left;
    align-items: center;
}
#auth-forms img{
    width: 30%;
    height: auto;
}

.form legend{
    font-size: 3rem;
    /* text-align: center; */
}
.form .entry-forms{
    border-left: 0.5px solid var(--major-white);
    padding-left: 1.2rem;
}
.form .form-group{
    padding: 1rem;
}
.form .form-group input{
    font-size: 1rem;
    padding: 0.5rem;
    width: 90%;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--major-white);
}
.form .form-group button{
    width: 93%;
    padding: 0.5rem;
    border: 1px solid var(--major-white);
    background: transparent;
    color: var(--main-white);
    border-radius: 8px;
    
}
/* form responsive */
@media only screen and (max-width: 601px) {
  #auth-forms {
    width: 100%;
    height: 100%;
    margin: 0 auto;
      display: block;
      align-items: center;
  }
  .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
  }
  img{
      width: 20%;
      height: auto;
  }
  .form .entry-forms{
      border-left: none;
      padding-left: 1.2rem;
  }
}

@media only screen and (min-width: 993px) {
  #auth-forms {
    width: 80%;
  }
}
  /* end of auth forms */