{% extends 'base.html' %} 
{% block main %} 
{% include '_partials/nav.html'%} 
{%include '_partials/hero.html'%}

<!--START INTRO-->
<section id="start">
  <div class="container">
      <div class="grid">
          {% if len(posts) > 0 %}
         {% for post in posts %}

         <a class="wrapper">
           <img src="{{post.upload.url}}" alt="{{post.title}}">
           <div class="mini-detail">
             <div class="mini-body">
               <h4>{{post.title}}</h4>
               <h2>{{post.caption}}</h2>
                 <br>
                 <small>{{post.date_posted}}</small>
             </div>
           </div>
         </a>
       <hr>

       {% endfor %}
          {% else %}
         {% include '_partials/dummy.html' %}
         {% endif %}

      </div>
  </div>
</section>

{% endblock main%}



<!--create-->
{% extends 'base.html'%}
{% block main %}
{% include '_partials/nav.html'%}
<section class="hero is-fullheight-with-navbar" id="create">
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <legend>Create new post</legend>
            <div class="wrapper">
                <div class="form-group">
                    <input type="file" name="upload" id="id_upload" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="title" id="id_title" class="form-control" placeholder="Enter subject">
                </div>
                <div class="form-group">
                    <textarea name="caption" id="id_caption" cols="30" rows="10" class="form-control">My post is awesome... </textarea>
                </div>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>
{% endblock main %}