<!--create-->
{% extends 'base.html'%}
{% block main %}
{% include '_partials/nav.html'%}
<section class="hero is-fullheight-with-navbar" id="create">
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <legend><span><b>Publish your idea</b></span></legend>
            <div class="entry-forms">
                <div class="form-group">
                    {{form.upload.label}}
                    {{form.upload}}
                </div>

                <div class="form-group">
                    {{form.title.label}}
                    {{form.title}}
                </div>
                <div class="form-group">
                    {{form.caption.label}}
                    {{form.caption}}
                </div>

                <div class="form-group">
                    <input type="submit" name="submit" value="Publish">
                    <input type="hidden" name="next" value="{{next}}">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock main %}