{% extends 'base.html' %} 
{% block main %} 
{% include '_partials/nav.html'%}

<!-- BREAD CRUMB -->
<div class="is-primary has-text-light" id="filters">
  <div class="breadcrumb container" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">Make Up</a></li>
      <li><a href="#">Face</a></li>
      <li><a href="#">Eye Lashes</a></li>
      <li class="is-active">
        <a href="#" aria-current="page">Eye Liner</a>
      </li>
    </ul>
  </div>
</div>
<!-- END BREADCRUMB -->

<!-- MAIN DESCRIPTION BODY -->
<section class="section mt-3" id="detail">
  <div class="container">
    <div class="columns">
      <div class="left-main column columns">
        <!-- ASIDE SECTION -->
        <aside class="menu column is-one-fifth">
          <ul class="menu-list">
            <li>
              <img
                class="is-rounded"
                src="./static/imgs/assets/products/1000x1000_hybrid_322.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="./static/imgs/assets/products/kajal-eyeliner-500x500.png"
                alt=""
              />
            </li>
            <li>
              <img
                class="is-rounded"
                src="./static/imgs/assets/products/chanel-makeup-kit-products-400.png"
                alt=""
              />
            </li>
          </ul>
        </aside>

        <main class="column">
          <div class="image">
            <img
              class=""
              src="./static/imgs/assets/products/27722-5-makeup-transparent.png"
              alt=""
            />
          </div>
          <div class="columns offers">
            <div class="column is-half">
              <span class="icon"><i class="fa fa-car"></i></span>
              <h4>Free shipping</h4>
              <p>Lorem ipsum dolor sit.</p>
              <a href="#" class="link">Learn more</a>
            </div>
            <div class="column is-half">
              <span class="icon"><i class="fas fa-newspaper"></i></span>
              <h4>Warantee</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <a href="#" class="link">Learn more</a>
            </div>
          </div>
        </main>
        <!-- END ASIDE -->
      </div>

      <div class="right-main column">
        <div class="header columns">
          <h3 class="title column is-four-fifths">Lorem ipsum dolor sit.</h3>
          <span class="column is-one-fifth">$34</span>
        </div>
        <div class="container">
          <div class="body">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
              dolores est molestias voluptates molestiae tempora amet cumque
              nesciunt rem fuga unde laborum quibusdam necessitatibus optio ea,
              voluptate quae minus a.
            </p>
            <br />
            <div class="wrapper">
              <h2 class="subtitle">Pick package</h2>
              <div class="columns">
                <a
                  class="
                    column
                    quantity
                    has-text-centered
                    is-primary is-outlined
                    active
                  "
                >
                  <span>4 pack</span><br />
                  <span>$32</span><br />
                  <span>$6.32 per piece</span>
                </a>
                <a
                  class="
                    column
                    quantity
                    has-text-centered
                    is-primary is-outlined
                  "
                >
                  <span>4 pack</span><br />
                  <span>$32</span><br />
                  <span>$6.32 per piece</span>
                </a>
                <a
                  class="
                    column
                    quantity
                    has-text-centered
                    is-primary is-outlined
                  "
                >
                  <span>4 pack</span><br />
                  <span>$32</span><br />
                  <span>$6.32 per piece</span>
                </a>
              </div>
              <hr />
              <div class="has-dropdown">
                <a class="is-link"> Accessories </a>

                <!-- <div class="dropdown">
                      <a class="is-muted"> Makeup kit </a>
                      <a class="is-muted"> Nail Kit </a>
                      <a class="is-muted"> Bangles </a>
                      <a class="is-muted"> Earings </a>
                      <a class="is-muted"> Nose Rings </a>
                      <a class="is-muted"> Wedding Rings </a>
                      <hr class="divider" />
                      <a class=""> Necklaces</a>
                    </div> -->
              </div>
              <hr />

              <div class="btns">
                <span class="counts">
                  <a href="#">-</a> <span> 2</span> <a href="#">+</a>
                </span>
                <a href="#" class="confirm is-primary has-text-light"
                  >Add to cart</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END MAIN DESCRIPTION BODY -->

<hr />
<section class="article" id="searches">
  <div class="container">
    <div class="header">
      <h2 class="title">People also searched</h2>
      <br />
    </div>
    <div class="columns">
      <div class="column is-one-quarter">
        <img src="/static/imgs/one.jpg" alt="" />
        <div class="caption">
          <span class="description column is-four-fifths">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
            nostrum.
          </span>
          <span class="description column is-one-fifth">
            $23
            <span
              ><a href="#" class="fa fa-cart-arrow-down is-primary"></a
            ></span>
          </span>
        </div>
      </div>
      <div class="column is-one-quarter">
        <img src="/static/imgs/one.jpg" alt="" />
        <div class="caption">
          <span class="description column is-four-fifths">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
            nostrum.
          </span>
          <span class="description column is-one-fifth">
            $23
            <span
              ><a href="#" class="fa fa-cart-arrow-down is-primary"></a
            ></span>
          </span>
        </div>
      </div>
      <div class="column is-one-quarter">
        <img src="/static/imgs/one.jpg" alt="" />
        <div class="caption">
          <span class="description column is-four-fifths">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
            nostrum.
          </span>
          <span class="description column is-one-fifth">
            $23
            <span
              ><a href="#" class="fa fa-cart-arrow-down is-primary"></a
            ></span>
          </span>
        </div>
      </div>
      <div class="column is-one-quarter">
        <img src="/static/imgs/one.jpg" alt="" />
        <div class="caption">
          <span class="description column is-four-fifths">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
            nostrum.
          </span>
          <span class="description column is-one-fifth">
            $23
            <span
              ><a href="#" class="fa fa-cart-arrow-down is-primary"></a
            ></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<!--article-->
<article>
  <div class="container p-6">Nothing here just a filer</div>
</article>
{% endblock main%}
