{% extends 'base.html' %}
{% block main %}
{% include '_partials/header.html'%}

<!--START INTRO-->
<section id="start">
  <div class="container">
    <div class="grid">
      {% if posts %}
      {% include '_partials/dummy.html' %}
      {% else %}
      {% for post in posts %}
      <a class="wrapper" href="{% url 'detail' post.id%}">
        <img src="{{post.upload.url}}" alt="{{post.title}}">
        <div class="mini-detail">
          <div class="mini-body">
            <h4>{{post.title}}</h4>
            <h2>{{post.caption}}</h2>
            <br>
            <small>{{post.date_posted}}</small>
          </div>
        </div>
      </a>
      <hr>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

{% endblock main%}