{% extends 'base.html' %}
{% block main %}
{% include '_partials/nav.html'%}


<!-- BREAD CRUMB -->
<div class="is-primary has-text-light" id="filters">
  <div class="breadcrumb container" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">{{post.author}}</a></li>
      <li class="is-active">
        <a href="#" aria-current="page">{{post.title}}</a>
      </li>
    </ul>
  </div>
</div>
<!-- END BREADCRUMB -->

<!--article-->
<article>
  <div class="container">

    <img src="{{post.upload.url}}" alt="{{post.upload.url}}">

  </div>
  <div class="container">
    <h2>{{post.title}}</h2>
    <p>{{post.caption}}</p>
    <small>{{post.date_posted}}</small>
    {% if request.user == post.author %}
    <button>DELETE</button>
    {% endif %}

    <form action="post_comment" method="post">
      <h2 class="subtitle">Commend the author</h2>
      <div class="comment">
        <textarea name="comment" id="comment" class="textarea" placeholder="Add a comment"></textarea>
        <button class="button is-dark" type="submit">Comment</button>
      </div>

    </form>
  </div>
</article>
<div class="spacer">

</div>


{% endblock main%}