{% extends 'base.html' %}
{% block main %}
{% include '_partials/nav.html'%}


<!-- BREAD CRUMB -->
<div class="is-primary has-text-light" id="filters">
  <div class="breadcrumb container" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">{{post.author}}</a></li>
      <li class="is-active">
        <a href="#" aria-current="page">{{post.title}}</a>
      </li>
    </ul>
  </div>
</div>
<!-- END BREADCRUMB -->

<!--article-->
<article>
  <div class="container">

    <img src="{{post.upload.url}}" alt="{{post.upload.url}}">

  </div>
  <div class="container">
    <h2>{{post.title}}</h2>
    <p>{{post.caption}}</p>
    <small>{{post.date_posted}}</small>
    {% if request.user == post.author %}
    <button>DELETE</button>
    {% endif %}

<!--    List all comments-->
    {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}



    {#    Listing comments #}
  {% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.author }}
      {{ comment.created_on }}
    </p>
    {{ comment.message|linebreaks }}
  </div>
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}

{#  Creating a comment #}
  {% if new_comment %}
  <h2>Your comment has been added.</h2>
{% else %}
  <h2>Add a new comment</h2>
  <form method="POST">
  {% csrf_token %}
    {{ comment_form.as_p }}
    <p><button type="submit" class="btn btn-primary  btn-lg">Comment</button></p>
  </form>
{% endif %}


  </div>


</article>
<div class="spacer">

</div>


{% endblock main%}