{% extends 'base.html' %}
{% block main %}
{% include '_partials/nav.html'%}
{%include '_partials/hero.html'%}

<!--START INTRO-->
<section id="start">
  <div class="container">
   {% if post in posts %}
        <div class="grid">
      {% for post in posts %}
      <a class="wrapper">
        <img src="{{post.upload.url}}" alt="{{post.title}}">
        <div class="mini-detail">
          <div class="mini-body">
            <h4>{{post.title}}</h4>
            <h2>{{post.caption}}</h2>
            <br>
            <small>{{post.date_posted}}</small>
          </div>
        </div>
      </a>
      <hr>
      {% endfor %}


    </div>
       {% else %}
       <div class="box">
       <h1>No posts yet. Be the first to <a href="{% url "post_create" %}">upload</a> </h1>
       </div>
      {% endif %}
  </div>
</section>

{% endblock main%}